body{
    margin: 0px;

}

.main-body{
    height: 700px;
    width: 100%;
    font-family: sans-serif;
}
.netflix-background{
    height: 100%;
    width: 100%;
    
}
.main-body2{
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.8) 100%);

}
.netflix-logo{
    width: 11rem;
    height: 4.5rem;
    padding-left: 138px;
    padding-top: 10px;
    float: left;
}
.option{
    font-weight: normal;
    display: block;
    height: 30px;
    width: 120px;
    padding: 0px 2px 1px;
    white-space: nowrap;
    padding-right: 2.25rem;
    line-height: 1.25rem;
    font: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: inherit;
    position: relative;
        left: 650px;
        top: 35px;
    background-color: rgba(32, 32, 32, 0.5);   
    border-radius: 3px;
    border-style: solid;  
    border: white transparent;
    color: white;
    
}
.signin-button{
    height: 33px;
    width: 80px;
    background: rgb(255, 32, 32);
    border-width: 0.0625rem;
    border-radius: 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0);
    color: white;
    position: relative;
        left: 795px;
        top: 2px;
    
}
.text1{
    color: white;
    font-weight: 900;
    font-size: 43px;
    padding-top: 200px;
    text-align: center;
    font-family: sans-serif;
    
}
.para{
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}
.form1{
    padding-left: 10px;
    height: 50px;
    width: 350px;
    background-color: rgba(32, 32, 32, 0.5);   
    border-radius: 5px;
    border-color: aliceblue;
    position: relative;
        left: 370px;
        top: 2px;
}
.getstarted-button{
    height: 60px;
    width: 200px;
    color: white;
    background-color: red;
    font: 1em sans-serif;
    font-weight: 800;
    font-size: 20px;
    position: relative;
    left: 750px;
    bottom: 55px;
    border-radius: 5px;
    border-color: red;
    border-style: solid;
}    
.smallportion{
    height: 8px;
    width: 100%;
    background: rgb(71, 71, 71);
}
.main-body3{
    height: 500px;
    width: 100%;
    background: black; 
}
.left-section{
    height: 100%;
    width: 50%;
    float: left;
}
.right-section{
    height: 100%;
    width: 50%;
    float: left;

}
.text2{
    color: white;
    font-weight: 900;
    font-size: 40px;
    padding-top: 150px;
    padding-left: 100px;
    text-align: center;
    font-family: sans-serif;
    text-align: left;
}
.para2{ 
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 100px;
    text-align: left;
}
.video{
    
    position: relative;
    bottom: 310px;
    padding-left: 115px;
    height: 50%;
    width: 50%;
}
.tv-img{
    height: 70%;
    width: 70%;
    padding-left: 50px;
    padding-top: 100px;
}
.main-body4{
    height: 970px;
    width: 100%;
    background: black;
}
.text3{
    color: white;
    font-weight: 900;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-block-start: 0px;
}
.newbutton{
    height: 100px;
    width: 1000px;
    color: white;
    background-color: rgba(85, 85, 85, 0.5); 
    font: sans-serif;
    font-weight: 500;
    font-size: 25px;
    border-style: solid;
    position: relative;
    left: 170px;
    text-align: left;
    padding-left: 50px;
    
}  
.para3{
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    padding-top: 30px;
}  
.main-body5{
    height: 400px;
    width: 100%;
    background: black; 
}  
.video2{
    position: relative;
    bottom: 330px;
    padding-left: 142px;
    height: 40%;
    width: 42%;
}  
